#top {
    padding: 75px 40px;
    margin-bottom: 50px;
}

#top:after {
    content:"";
    display: table;
    clear: both;
}


#top .container-fluid .logo {
    display: inline-block;
    float: left;
    margin-right: 28px;
}
#top .container-fluid .logo img {
    height: 50px;
    width: 50px;
}

#top .container-fluid .menu {
    display: inline-block;
    float: left;
    position: relative;
    top: 20px;
}

#top .container-fluid .menu a {
    color: #694ffa;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 15px;
}

#top .container-fluid .header-buttons {
    display: inline-block;
    float: right;
    padding-right: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

#top .container-fluid .header-buttons .blue-btn {
    background: #694ffa;
    padding:  15px 20px;
    border-radius: 25px;
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    position: relative;
    top: 25px;
    -webkit-box-shadow: 6px 18px 18px -10px rgba(0,0,0,0.28);
    -moz-box-shadow: 6px 18px 18px -10px rgba(0,0,0,0.28);
    box-shadow: 6px 18px 18px -10px rgba(0,0,0,0.28);
}

#top .container-fluid .header-buttons .blue-btn .fas {
    margin-left: 10px;
}

#top .container-fluid .header-buttons .orange-btn {
    background: #ffa700;
    padding:  15px 40px;
    border-radius: 25px;
    color: #fff;
    text-decoration: none;
    position: relative;
    top: 25px;
    -webkit-box-shadow: 6px 18px 18px -10px rgba(0,0,0,0.28);
    -moz-box-shadow: 6px 18px 18px -10px rgba(0,0,0,0.28);
    box-shadow: 6px 18px 18px -10px rgba(0,0,0,0.28)

}
